body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f8;  
}

h1 {
    color: lightpink;
}

h2 {
    margin-top: 20px;
    color: #333;
}

ul {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 10px;
    margin-top: 10px;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 5px 10px;   
    background: lightseagreen;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: fit-content;   
}
